<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sseuda.sseuda_server.function.alarm.dao.AlarmMapper">

    <resultMap id="alarmResultMap" type="com.sseuda.sseuda_server.function.alarm.dto.AlarmDTO">
        <id property="alarmId" column="alarm_id"/>
        <result property="alarmType" column="alarm_type"/>
        <result property="userId" column="user_id"/>
        <result property="postId" column="post_id"/>
        <result property="commentId" column="comment_id"/>
        <result property="likesId" column="likes_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="alarmCheck" column="alarm_check"/>
        <result property="userNickname" column="user_nickname"/>
    </resultMap>

<!--  사용자별 알람 조회  -->
    <select id="selectAlarmsByUserId" resultMap="alarmResultMap" parameterType="int">
        SELECT
        a.*,
        cmt_user.user_nickname
        FROM tbl_alarm a
        JOIN tbl_post p ON a.post_id = p.post_id
        LEFT JOIN tbl_comment c ON a.comment_id = c.comment_id
        LEFT JOIN tbl_member cmt_user ON c.user_id = cmt_user.user_id
        WHERE p.user_id = #{userId}
        ORDER BY a.created_at DESC
    </select>

<!--  알람 등록 (댓글)  -->
    <insert id="insertAlarmForComment" parameterType="com.sseuda.sseuda_server.function.alarm.dto.AlarmDTO">
        INSERT INTO tbl_alarm (
        alarm_type, user_id, post_id, comment_id
        ) VALUES (
        'COMMENT', #{userId}, #{postId}, #{commentId}
        );
    </insert>

    <!-- 알람 상태 변경 -->
    <update id="updateAlarmCheck" parameterType="com.sseuda.sseuda_server.function.alarm.dto.AlarmDTO">
        UPDATE tbl_alarm
        SET alarm_check = 'Y'
        WHERE alarm_id = #{alarmId}
    </update>

    <!-- 알람 삭제 -->
    <delete id="deleteAlarm" parameterType="int">
        DELETE FROM tbl_alarm
        WHERE alarm_id = #{alarmId}
    </delete>

</mapper>