<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sseuda.sseuda_server.function.comment.dao.CommentMapper">

    <resultMap id="commentResultMap" type="com.sseuda.sseuda_server.function.comment.dto.CommentDTO">
        <id property="commentId" column="comment_id"/>
        <result property="commentText" column="comment_text"/>
        <result property="commentCreateAt" column="comment_create_at"/>
        <result property="commentUpdateAt" column="comment_update_at"/>
        <result property="commentDelete" column="comment_delete"/>
        <result property="postId" column="post_id"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <resultMap id="postResultMap" type="com.sseuda.sseuda_server.function.post.dto.PostDTO">
        <id property="postId" column="post_id" />
        <result property="userId" column="user_id"/>
        <result property="postDelete" column="post_delete"/>
        <result property="smallCategoryId" column="small_category_id"/>
     </resultMap>

    <resultMap id="memberResultMap" type="com.sseuda.sseuda_server.function.member.dto.MemberDTO">
        <id property="userId" column="user_id"/>
        <result property="userFullname" column="user_fullname"/>
        <result property="username" column="username"/>
        <result property="userNickname" column="user_nickname"/>
        <result property="userStatus" column="user_status"/>
    </resultMap>


    <!--    comment와 post, member join-->
    <resultMap id="commentJoinResultMap" type="com.sseuda.sseuda_server.function.comment.dto.CommentJoinDTO">
        <id property="commentId" column="comment_id"/>
        <result property="commentText" column="comment_text"/>
        <result property="commentCreateAt" column="comment_create_at"/>
        <result property="commentUpdateAt" column="comment_update_at"/>
        <result property="commentDelete" column="comment_delete"/>
        <collection property="postDTO" resultMap="postResultMap"/>
        <collection property="memberDTO" resultMap="memberResultMap"/>
    </resultMap>

    <select id="findPostComment" resultMap="commentJoinResultMap">
        SELECT
            a.comment_id,
            a.comment_text,
            a.comment_create_at,
            a.comment_update_at,
            a.comment_delete,
            a.post_id,
            b.user_nickname,
            b.username,
            b.user_id
        FROM
            tbl_comment a
        JOIN tbl_member b ON a.user_id = b.user_id
        WHERE
            post_id = #{postId}
    </select>

    <insert id="insertComment" parameterType="map">
        <selectKey keyProperty="commentId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>

        INSERT INTO tbl_comment
        (
            comment_text,
            comment_create_at,
            post_id,
            user_id
        )
        VALUES
        (
            #{dto.commentText},
            #{dto.commentCreateAt},
            #{dto.postId},
            #{userCode}
        )
    </insert>

    <update id="updateComment" parameterType="map">
        UPDATE tbl_comment
        SET
            comment_text = #{dto.commentText},
            comment_create_at = #{dto.commentCreateAt}
        WHERE
            user_id = #{userCode} AND
            comment_id = #{dto.commentId}
    </update>

    <delete id="deleteComment" parameterType="map">
        DELETE
        FROM
            tbl_comment
        WHERE
            user_id = #{userCode} AND
            comment_id = #{dto.commentId}
    </delete>
</mapper>