<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sseuda.sseuda_server.function.likes.dao.LikesMapper">

    <resultMap id="LikesResultMap" type="com.sseuda.sseuda_server.function.likes.dto.LikesDTO">
        <id property="likesId" column="likes_id"/>
        <result property="likesCreateAt" column="likes_create_at"/>
        <result property="postId" column="post_id"/>
        <result property="userId" column="userId"/>
        <collection property="postDTO" resultMap="postResultMap"/>
    </resultMap>
    
    <resultMap id="postResultMap" type="com.sseuda.sseuda_server.function.post.dto.PostDTO">
        <id property="postId" column="post_id"/>
        <result property="postTitle" column="post_title"/>
        <result property="postContent" column="post_content"/>
    </resultMap>

    <select id="findLikesList" resultMap="LikesResultMap">
        SELECT
            *
        FROM
            tbl_likes a
        JOIN tbl_post b ON a.post_id = b.post_id
        WHERE
            a.post_id = #{postId}
    </select>

    <select id="findLikes" resultType="int">
        SELECT
            COUNT(a.likes_id) as likeView
        FROM
            tbl_likes a
        JOIN tbl_post b ON a.post_id = b.post_id
        WHERE
            a.post_id = #{postId}
    </select>

    <select id="userLikesList" resultMap="LikesResultMap">
        SELECT
            *
        FROM
            tbl_likes a
        JOIN tbl_post b ON a.post_id = b.post_id
        WHERE
            a.user_id = #{userCode}
    </select>
    
    <select id="findBannerLikeList" resultMap="LikesResultMap">
        SELECT
            b.post_id,
            COUNT(a.likes_id) as likeView,
            b.post_title,
            b.post_content
        FROM
            tbl_likes a
            JOIN tbl_post b ON a.post_id = b.post_id
        GROUP BY
            b.post_id, b.post_title, b.post_content
        ORDER BY
            likeView DESC
    </select>

    <insert id="insertLike" parameterType="map">
        INSERT INTO tbl_likes
        (
            likes_create_at,
            post_id,
            user_id
        )
        VALUES
        (
            NOW(),
            #{postId},
            #{userCode}
        )
    </insert>

    <delete id="deleteLike" parameterType="map">
        DELETE
            FROM tbl_likes
        WHERE
            user_id = #{userCode} AND
            post_id = #{postId}
    </delete>

</mapper>