.quill {
  width: 1280px;
}

.ql-editor {
  min-height: 900px; /* 원하는 최소 높이 */
  max-height: 900px; /* 최대 높이 */
  overflow-y: auto;  /* 내용 넘치면 스크롤 생김 */
}

.ql-editor img {
  max-width: 20%;
  height: auto;
}

.ql-editor > * {
  cursor: text;
}

.quill .ql-editor p {
  margin: 0;
  line-height: 1.5;
}

.quill img {
  width: 20%;
}
